<html>
    
    <body>
        <app-header></app-header>
        <br><br><br><br><br><br><br>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                    <form action="https://goo.gl/maps/Vh1rMERNgbFmd1Mb8">
                        <button class="bP" type="submit">
                        </button>
                    </form>        
            </mat-grid-tile>

            <mat-grid-tile class="infoPalmi">
                <mat-grid-tile-header class="iPalmi">
                  
                <h1>Ci troviamo in piazza!</h1>
          
                </mat-grid-tile-header>
                <div class="posizione">
                    <h1 class="ipht">Ci troviamo in piazza!</h1>
                </div>
                <div class="interno">
                    <ul>All'interno del nostro shop troverai:
                        <br><br><li>Biciclette Elettriche</li>
                        <br><li>Monopattini Elettrici</li>
                        <br><li>Biciclette </li>
                    </ul>
                    
                </div>

                <div class="orari">
                    <ul>&nbsp;&nbsp;&nbsp;I nostri orari:
                        <br>
                         <ul>Dal Lunedi al Venerdi
                        <li> 08:00-13:00 || 15:00-18:00</li>
                        </ul>
                        <br>
                        <ul>Sabato
                            <li> Chiuso</li>
                        </ul>
                        <br>
                        <ul>Domenica
                            <li> 08:00-13:00</li>
                        </ul>
                    </ul>
                </div>

                <div class="contattaci">
                    <ul>Contattaci
                        <br><br>
                        <li>Telefono: xxxxxxxxxx</li>
                        <li>Email: sedepalmi@shopGreen.com</li>
                    </ul>
                </div>


            </mat-grid-tile>
            <br>
            <mat-grid-tile>
                <form action="https://goo.gl/maps/Vh1rMERNgbFmd1Mb8">
                    <button class="bR" type="submit">
                    </button>
                </form>        
        </mat-grid-tile>
        <mat-grid-tile class="infoPalmi">
            <mat-grid-tile-header class="iRende">
              
            <h1>Ci troviamo in piazza!</h1>
      
            </mat-grid-tile-header>
            <div class="posizione">
                <h1 class="ipht">Ci troviamo in piazza!</h1>
            </div>
            <div class="interno">
                <ul>All'interno del nostro shop troverai:
                    <br><br><li>Biciclette Elettriche</li>
                    <br><li>Monopattini Elettrici</li>
                    <br><li><s>Biciclette </s></li>
                </ul>
                
            </div>

            <div class="orari">
                <ul>&nbsp;&nbsp;&nbsp;I nostri orari:
                    <br>
                     <ul>Dal Lunedi al Venerdi
                    <li> 08:00-13:00 || 15:00-18:00</li>
                    </ul>
                    <br>
                    <ul>Sabato
                        <li> Chiuso</li>
                    </ul>
                    <br>
                    <ul>Domenica
                        <li> Chiuso</li>
                    </ul>
                </ul>
            </div>

            <div class="contattaci">
                <ul>Contattaci
                    <br><br>
                    <li>Telefono: xxxxxxxxxx</li>
                    <li>Email: sederende@shopGreen.com</li>
                </ul>
            </div>

        
        </mat-grid-tile>
        <br><br>
        <mat-grid-tile>
            <form action="https://goo.gl/maps/Vh1rMERNgbFmd1Mb8">
                <button class="bP" type="submit">
                </button>
            </form>        
    </mat-grid-tile>

    <mat-grid-tile class="infoPalmi">
        <mat-grid-tile-header class="iRoma">
          
        <h1>Ci troviamo in piazza!</h1>
  
        </mat-grid-tile-header>
        <div class="posizione">
            <h1 class="ipht">Ci troviamo in piazza!</h1>
        </div>
        <div class="interno">
            <ul>All'interno del nostro shop troverai:
                <br><br><li>Biciclette Elettriche</li>
                <br><li>Monopattini Elettrici</li>
                <br><li>Biciclette </li>
            </ul>
            
        </div>

        <div class="orari">
            <ul>&nbsp;&nbsp;&nbsp;I nostri orari:
                <br>
                 <ul>Dal Lunedi al Venerdi
                <li> 08:00-13:00 || 15:00-18:00</li>
                </ul>
                <br>
                <ul>Sabato
                    <li> Chiuso</li>
                </ul>
                <br>
                <ul>Domenica
                    <li> 08:00-13:00</li>
                </ul>
            </ul>
        </div>

        <div class="contattaci">
            <ul>Contattaci
                <br><br>
                <li>Telefono: xxxxxxxxxx</li>
                <li>Email: sederoma@shopGreen.com</li>
            </ul>
        </div>


    </mat-grid-tile>
            
          </mat-grid-list>
        

      
       
  

       

        



    </body>
</html>