



<button *ngIf="!loggato" type="button" (click)="lon()">log</button>
<button *ngIf="loggato" type="button" (click)="lout()">logOff</button>
<li>
	<a href="prodotti" class="button">Offerte</a>
	<button *ngIf="pu" type="button" (click)="lon()">log</button>
	
  </li>



<a class="ciao">
	<h1> fjeiow</h1>
</a>
	<!--	<ng-container *ngIf="pu">
		  <h2>Informacion del Usuario</h2>
		  <table>
		    <tr *ngIf="pu.username">
		      <th scope="row">Usuario</th>
		      <td>{{ pu.username }}</td>
		    </tr>
		    <tr *ngIf="pu.firstName">
		      <th scope="row">Primer Nombre</th>
		      <td>{{ pu.firstName }}</td>
		    </tr>
		    <tr *ngIf="pu.lastName">
		      <th scope="row">Segundo Nombre</th>
		      <td>{{ pu.lastName }}</td>
		    </tr>
		    <tr *ngIf="pu.email">
		      <th scope="row">Correo Electronico</th>
		      <td>{{ pu.email }}</td>
		    </tr>
		    <tr>
		      <th scope="row">Correo Verificado</th>
		      <td>{{ pu.emailVerified ? 'Si' : 'No' }}</td>
		    </tr>
		  </table>
		</ng-container>
		-->