<!DOCTYPE html>
<html>

  <router-outlet></router-outlet>
  <head>
    <title>menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="home.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>
  
 <body>
  <app-header></app-header>
  <br><br><br><br><br><br><br><br><br>

    <video width="320" height="240" controls>
      <source src="movie/mp4" type="video.mp4">
    Your browser does not support the video tag.
    </video>
  
 
  <br><br><br><br><br><br><br><br><br>
  <mat-card class="container" fxLayout="row" fxLayoutGap>
    <mat-card class="card-1">
      
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Biciclette elettriche</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-button>Nuovo</button>
        <button mat-button>Usato</button>
      </mat-card-actions>
      <mat-card-content>
        <p>
          Le nostre bici elettriche vengono scelte con cura, scegli la tua!
        </p>
      </mat-card-content>

    </mat-card>
    <mat-card class="card-2">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Biciclette</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image src="https://contents.mediadecathlon.com/p2023358/k$b177787aac23c0bef1dab5a25c903da4/sq/bici-trekking-riverside-100-nera.jpg?format=auto&f=720x720" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-button>Nuovo</button>
        <button mat-button>Usato</button>
      </mat-card-actions>
      <mat-card-content>
        <p>
          Cosa c'è di meglio di una pedalata? <br>
          Scegli la tua nuova bici!
        </p>
      </mat-card-content>
     
    </mat-card>
  
    <mat-card class="card-3">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Offerte</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-button>Nuovo</button>
        <button mat-button>Usato</button>
      </mat-card-actions>
      <mat-card-content>
        <p>
          Qui troverai le migliori offerte!
          <br> WOW!
        </p>
      </mat-card-content>

    </mat-card>

    <mat-card class="card-4">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Monopattino</mat-card-title>
        
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-button>Nuovo</button>
        <button mat-button>Usato</button>
      </mat-card-actions>
      <mat-card-content>
        <p>
          Vuoi viaggiare leggero? Abbiamo la soluzione<br>
          Scegli il tuo monopattino!
        </p>
      </mat-card-content>

    </mat-card>
    <mat-card class="card-5">
      
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Biciclette elettriche</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-button>Nuovo</button>
        <button mat-button>Usato</button>
      </mat-card-actions>
      <mat-card-content>
        <p>
          Le nostre bici elettriche vengono scelte con cura, scegli la tua!
        </p>
      </mat-card-content>

    </mat-card>

    
  </mat-card>

<h1>I nostri partner</h1>
  <mat-grid-list class="loghi" cols="6"  rowHeight="2:1">
  
   <mat-grid-tile>
    <img class="foto1" src="vuoto.png">
   </mat-grid-tile>
   <mat-grid-tile>
    <img  class="foto2" src="vuoto.png">
   </mat-grid-tile>
   <mat-grid-tile>
    <img class="foto1" src="p4.avif">
   </mat-grid-tile>
   <mat-grid-tile>
    <img  class="foto1" src="p5.png">
   </mat-grid-tile>
   <mat-grid-tile>
    <img class="foto6" src="vuoto.png">
   </mat-grid-tile>
   <mat-grid-tile>
    <img  class="foto1" src="p2.avif">
   </mat-grid-tile>
   <mat-grid-tile>
    <img class="foto1" src="vuoto.png">
   </mat-grid-tile>
   <mat-grid-tile>
    <img  class="foto1" src="p2.avif">
   </mat-grid-tile>
   <mat-grid-tile>
    <img class="foto1" src="vuoto.png">
   </mat-grid-tile>
   <mat-grid-tile>
    <img  class="foto1" src="p2.avif">
   </mat-grid-tile>
   <mat-grid-tile>
    <img class="foto1" src="vuoto.png">
   </mat-grid-tile>
   <mat-grid-tile>
    <img  class="foto1" src="p2.avif">
   </mat-grid-tile>
  

 


   

   
  
  </mat-grid-list>
  
</body>
</html>