<div>
    <app-header></app-header>
</div>
<br><br>




<div ng-app="myApp" ng-controller="customersCtrl"> 
    

    <table>
        <tr class="title" ng-repeat="">
            <td>Nome</td>
            <td>Barcode</td>
            <td>Informazioni</td>
            <td>Acquistami</td>
            <td  *ngIf="isAdmin" >Elimina</td>

      <tr *ngFor="let product of products">

        <td>{{ product.name }}</td>
        <td>{{ product.barcodeg }}</td>



        <td><button class="button-3" routerLink="/expand/{{product.id}}"><i ></i> Dettagli</button></td>
        <td><button class="button-3" (click)="getSP(product.id)"><i class="far fa-trash-alt"></i> Aggiungi al carrello</button></td>
        <td *ngIf="isAdmin"><button class="button-3" *ngIf="isAdmin" (click)="onDelete(product.id,product.image)"><i class="far fa-trash-alt"></i> Eliminare</button></td>


      </tr>
    </table>
    
    </div>
<div>
 </div>

