.form{
    background-image: url('https://i.pinimg.com/originals/13/ba/52/13ba52cc07d6c43c16b46a8ced7fcbcc.gif');
    height: 652px;
    
    width: 800px;
  }
  img {
    max-width: 100%;
    max-height: 100%;
   }
.info{
    background-image: url('s1.png');
    max-width: 100%;
    max-height: 100%;
}

.obiettivi{
    background-image: url('s1.png');

}
.assistenza{
    background-image: url('s1.png');

}

.assistenza .title3{
    background-color: white;
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
    margin-left: 35%;
}


.obiettivi .title2{
    background-color: white;
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
    margin-left: 35%;
}
.info .title1{
    background-color: white;
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
    margin-left: 35%;
}




